.animate-show {
  animation: showSideBar 1s linear;
}

.animate-hide {
  animation: hideSideBar 1s linear;
}

@keyframes showSideBar {
  0% {
    transfrom: 'translateX(-150px)';
  }
  100% {
    transfrom: 'translateX(0)';
  }
}

@keyframes hideSideBar {
  0% {
    transfrom: 'translateX(0)';
  }
  100% {
    transfrom: 'translateX(-150px)';
  }
}
