.content-left-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 8px 4px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border-radius: 8px;
  width: 100%;
}

.content-left-list:first-of-type {
  flex: 20% 0 0;
}

.content-left-list:not(.content-left-list:first-of-type) {
  overflow-y: scroll;
  padding: 5px 4px;
  flex: 15% 0 0;
}

.content-left-list.content-left-list:not(.content-left-list:first-child)::-webkit-scrollbar {
  display: none;
}

.banHang-container {
  flex: 25%;
}

.link {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}

.content-left-list .content-desc-list {
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
  font-size: 14px;
}

.content-left-list-item {
  display: flex;
  align-items: center;
  padding: 6px 4px;
  color: rgb(56, 56, 61);
  font-size: 14px;
  font-family: 600;
}

.content-left-list-item:hover {
  background-color: rgb(39 39 42 / 12%);
  cursor: pointer;
  border-radius: 8px;
}

.content-left-list-item > img {
  border-radius: 8px;
  margin: 0 8px;
}

.content-desc-list {
  padding: 2px 4px;
}
