#module_hover {
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
  border-radius: 8px;
  width: 240px;
  height: auto;
  position: absolute;
  top: 40px;
  right: 0;
  list-style: none;
  border: 1px solid rga(239, 239, 239);
  padding: 10px 0;
  z-index: 20;
}

#module_hover > li {
  /* text-align: center; */
  font-size: 14px;
  height: 37px;
  color: rgb(39, 39, 42);
  padding: 0 18px;
  width: 100%;
  line-height: 37px;
}

#module_hover > li:hover {
  background-color: rgb(39 39 42 / 24%);
  cursor: pointer;
}
