/* #footer {
  display: none;
} */

@media screen and (min-width: 1024px) {
      #footer {
            display: none;
      }

      .homeIcon {
            color: rgb(10, 104, 255);
            font-weight: 700;
            display: none;
      }

      .temp {
            display: none;
      }
}

@media screen and (max-width: 768px) {
      #footer {
            bottom: -1px;
            left: 0;
            right: 0;
            height: 40px;
            width: 100%;
            position: fixed;
            z-index: 10;

            background-color: #fff;
            border: 1px solid rgb(10, 104, 255);
      }

      #footer .home {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            height: 100%;
            color: rgb(10, 104, 255);
            font-weight: 600;
            font-size: 18px;
      }

      .homeIcon {
            color: rgb(10, 104, 255);
            font-weight: 700;
      }
}
