@media screen and (min-width: 1024px) {
    .danhMucNoiBat {
        height: 268px;
        width: 100%;
        background-color: #fff;
        margin-top: 22px;
        border-radius: 8px;
        padding: 14px 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    .danhMucNoiBat_title {
        color: rgb(39, 39, 42);
        font-weight: 700;
        font-size: 16px;
        height: 30px;
    }

    .danhMucNoiBat_wrapper {
        flex: 1;
        height: 100%;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
    }

    .danhMucNoiBat_item {
        border-radius: 8px;
        width: 170px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .wrapper_img {
        border-radius: 8px;
        padding: 10px;
        flex: 1;
        background-color: rgb(10 104 255 / 4%);
    }

    .wrapper_p {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 100%;
        height: 35px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 8px;
    }

    .wrapper_p > p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: rgb(39, 39, 42);
        width: 170px;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    .danhMucNoiBat {
        height: 268px;
        overflow-x: hidden;
        width: 100%;
        background-color: #fff;
        margin-top: 22px;
        border-radius: 8px;
        padding: 14px 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    .danhMucNoiBat_title {
        color: rgb(39, 39, 42);
        font-weight: 700;
        font-size: 16px;
        height: 30px;
    }

    .danhMucNoiBat_wrapper {
        width: 100%;
        flex: 1;
        height: 100%;
        display: flex;
        border-radius: 8px;
        overflow-x: hidden;
        justify-content: space-between;
    }

    .danhMucNoiBat_item {
        border-radius: 8px;
        width: 170px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .wrapper_img {
        border-radius: 8px;
        padding: 10px;
        flex: 1;
        background-color: rgb(10 104 255 / 4%);
    }

    .wrapper_p {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 100%;
        height: 35px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 8px;
    }

    .wrapper_p > p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: rgb(39, 39, 42);
        width: 170px;
        font-weight: 700;
    }
}
