@media screen and (min-width: 1024px) {
  :root {
    --marginTilte_to_products: 10px;
    --borderMain: 0.065rem solid #ccc;
    --padding2LRGive: 12px;
    --paddingProduct: 15px;
    --colorBorder: 242, 242, 242;
    --borderDown: 1px solid rgb(var(--colorBorder));
  }

  /* wrapper */
  .wrapperBuy {
    background-color: rgb(245, 245, 250);
    width: 1270px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  /* tên sản phẩm */
  .pathTitle {
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin: 0 auto;
    text-align: left;
    line-height: 40px;
    color: rgb(128, 128, 137);
    padding-bottom: 5px;
    font-size: 16px;

    display: flex;
    align-items: center;
  }

  .current {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .back {
    color: rgb(128, 128, 137);
    text-decoration: none;
    min-width: 80px;
  }

  .current:hover,
  .back:hover {
    text-decoration: underline;
    color: rgb(56, 56, 61);
  }

  /* wrapper info */
  .products {
    margin: 0 auto;
    width: 1270px;
    height: 650px;
    padding: 15px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
  }

  .productsImg {
    width: 444px;
    height: 444px;
    border-radius: 8px;
    /* background-color: red; */
    /* border-right-color: #f2f2f2;
      border-right-width: 2px;
      border-right-style: solid; */
  }

  .productsImg > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  /* Thông tin sản phẩm */
  .productsInfo {
    flex: 1;
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }
  .products_down {
    display: flex;
    width: 100%;
    gap: 15px;
  }

  .products_down_wrapper {
    flex: 1;
    height: 280px;
  }

  .location_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--paddingProduct) 0;
  }

  .officalNameVoteBought {
    width: 650px;
    height: 75px;
    display: flex;
    flex-direction: column;
    margin: var(--marginTilte_to_products) 0px calc(var(--marginTilte_to_products) + 10px);
  }

  .offical {
    color: #000;
    font-size: 12px;
  }

  .vote {
    display: flex;
    align-items: center;
  }

  .ranking {
    font-size: 0.9rem !important;
    padding-right: 5px;
  }

  .name {
    flex: 1;
    color: #242424;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
  }

  .nameStyle {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bought {
    margin-left: 7px;
    color: #787878;
    font-size: 15px;
    padding-left: 7px;
    border-left: 1px solid;
  }
  /* fix */
  .boughtFix {
    border: none;
    padding-left: 0px;
    margin-left: 0px !important;
  }

  .label {
    font-weight: 600;
    color: rgb(13, 92, 182);
  }

  .pricePromoteGiveAstra {
    padding: 5px var(--padding2LRGive);
    /* width: 479px; */
    height: 104px;
    background-color: rgb(250, 250, 250);
    flex: 1;
    border-radius: 4px;
  }

  .wrapperPriceAstra {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapperPrice {
    width: 100%;
    height: 45px;
    display: flex;
  }

  .price {
    font-size: 32px;
    margin-right: 3px;
    font-weight: 500;
  }
  /* fix */
  .wrapperPriceFake {
    color: rgb(56, 56, 61);
  }

  .displayNone {
    display: none;
  }

  .vnd {
    text-decoration: underline;
    font-size: 32px;
  }

  .priceReal {
    align-self: flex-end;
    margin-left: 4px;
    color: #787878;
    text-decoration: line-through solid #787878 0.08rem;
  }

  .promote {
    align-self: flex-end;
    margin-left: 4px;
    color: #ff424e;
    font-weight: 600;
    font-size: 15px;
  }

  .astra {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    height: 35px;
    font-size: 14px;
    background-color: rgb(242, 240, 254);
    border: 0.5px solid rgb(198, 188, 248);
    color: rgb(64, 45, 161);
    border-radius: 4px;
  }

  .astraHinhAnh {
    margin: 0 8px;
  }

  .astra > span:nth-last-of-type(1),
  .astra > span:nth-last-of-type(2) {
    margin-left: 3px;
  }

  .astraPromote {
    margin-top: 8px;
  }

  .iconNew {
    position: absolute;
    left: calc(100% + 8px);
  }

  .icon {
    margin: 0px 2px;
  }

  .border_down {
    padding-bottom: 10px;
    border-bottom: var(--borderDown);
  }

  .border_top {
    height: calc(100% + calc(var(--paddingProduct) * 2));
    margin: calc(var(--paddingProduct) * -1) 15px 0;
    width: 1px;
    background-color: rgb(var(--colorBorder));
  }

  .location_a {
    margin-left: 5px;
    font-size: 14px;
  }

  /* Distributor */
  .distributor {
    width: 240px;
    height: 350px;
    padding: 12px 13px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border: 0.02rem solid #ccc;
    border-radius: 8px;
  }

  .distributorInfo {
    display: flex;
    gap: 10px;
    height: auto;
  }

  .distributorText {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .distributorStartText {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
  }

  .wrapperShipper {
    display: flex;
    gap: 15px;
    flex-direction: row-reverse;
  }

  .moneyFreeShip {
    margin: 10px 0 10px;
    display: flex;
    font-size: 14px;
    align-items: center;
    position: relative;
  }

  .moneyFreeShip > img,
  .moneyFreeShip > p {
    top: 7px;
    position: absolute;
  }

  .moneyFreeShip > img {
    margin-right: 3px;
  }

  .moneyFreeShip > p {
    position: relative;
    left: 22px;
  }

  .moneyFreeShip > p:first-of-type {
    margin-right: 15px;
  }

  .moneyFreeShip > p > span {
    position: absolute;
    top: -0.3rem;
    right: -10px;
    text-decoration: underline;
  }
  .hideModuleDesktop {
    display: block;
    width: 1270px;
    margin: 0 auto;
  }

  .hideModuleMobile {
    display: none;
  }

  .nameSanPham {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 768px) {
  .nameSanPham {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  :root {
    --marginTilte_to_products: 10px;
    --borderMain: 0.065rem solid #ccc;
    --padding2LRGive: 12px;
    --paddingProduct: 15px;
    --colorBorder: 242, 242, 242;
    --borderDown: 1px solid rgb(var(--colorBorder));
  }

  .hideModule {
    display: none;
  }

  /* wrapper */
  .wrapperBuy {
    background-color: rgb(245, 245, 250);
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* tên sản phẩm */
  .pathTitle {
    display: none;
  }

  .current {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .back {
    color: rgb(128, 128, 137);
    text-decoration: none;
    min-width: 80px;
  }

  .current:hover,
  .back:hover {
    text-decoration: underline;
    color: rgb(56, 56, 61);
  }

  /* wrapper info */
  .products {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0px 15px;
    display: flex;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    justify-content: center;
    flex-direction: column;
  }

  .productsImg {
    width: 100%;
    height: 35%;
    border-radius: 8px;
    /* background-color: red; */
    /* border-right-color: #f2f2f2;
      border-right-width: 2px;
      border-right-style: solid; */
    /* display: none; */
  }

  .productsImg > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  /* Thông tin sản phẩm */
  .productsInfo {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: orange; */
  }
  .products_down {
    display: flex;
    width: 100%;
    gap: 15px;
    /* display: none; */
  }

  .products_down_wrapper {
    flex: 1;
    height: 280px;
    /* display: none; */
  }

  .location_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--paddingProduct) 0;
  }

  .officalNameVoteBought {
    height: auto;
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin: var(--marginTilte_to_products) 0px calc(var(--marginTilte_to_products) + 10px);
  }

  .offical {
    color: #000;
    font-size: 12px;
  }

  .vote {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ranking {
    font-size: 0.9rem !important;
    padding-right: 5px;
  }

  .name {
    flex: 1;
    color: #242424;
    height: 100px;
    min-height: 70px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0px 6px;
    word-break: break-word;
  }

  .nameStyle {
    /* width: 100%; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
  }

  .bought {
    margin-left: 7px;
    color: #787878;
    font-size: 15px;
    padding-left: 7px;
    border-left: 1px solid;
  }
  /* fix */
  .boughtFix {
    border: none;
    padding-left: 0px;
    margin-left: 0px !important;
  }

  .label {
    font-weight: 600;
    color: rgb(13, 92, 182);
  }

  .pricePromoteGiveAstra {
    padding: 5px var(--padding2LRGive);
    /* width: 479px; */
    height: 104px;
    background-color: rgb(250, 250, 250);
    flex: 1;
    border-radius: 4px;
  }

  .wrapperPriceAstra {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapperPrice {
    width: 100%;
    height: 45px;
    display: flex;
    color: #ff424e;
  }

  .price {
    font-size: 32px;
    margin-right: 3px;
    font-weight: 500;
  }
  /* fix */
  .wrapperPriceFake {
    color: rgb(56, 56, 61);
  }

  .displayNone {
    display: none;
  }

  .vnd {
    text-decoration: underline;
    font-size: 32px;
  }

  .priceReal {
    align-self: flex-end;
    margin-left: 4px;
    color: #787878;
    text-decoration: line-through solid #787878 0.08rem;
  }

  .promote {
    align-self: flex-end;
    margin-left: 4px;
    color: #ff424e;
    font-weight: 600;
    font-size: 15px;
  }

  .astra {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    height: 35px;
    font-size: 14px;
    background-color: rgb(242, 240, 254);
    border: 0.5px solid rgb(198, 188, 248);
    color: rgb(64, 45, 161);
    border-radius: 4px;
  }

  .astraHinhAnh {
    margin: 0 8px;
  }

  .astra > span:nth-last-of-type(1),
  .astra > span:nth-last-of-type(2) {
    margin-left: 3px;
  }

  .astraPromote {
    margin-top: 8px;
  }

  .iconNew {
    position: absolute;
    left: calc(100% + 8px);
  }

  .icon {
    margin: 0px 2px;
  }

  .border_down {
    padding-bottom: 10px;
    border-bottom: var(--borderDown);
  }

  .border_top {
    height: calc(100% + calc(var(--paddingProduct) * 2));
    margin: calc(var(--paddingProduct) * -1) 15px 0;
    width: 1px;
    background-color: rgb(var(--colorBorder));
  }

  .location_a {
    margin-left: 5px;
    font-size: 14px;
  }

  /* Distributor */
  .distributor {
    width: 240px;
    height: 350px;
    padding: 12px 13px;
    display: none;
    gap: 15px;
    flex-direction: column;
    border: 0.02rem solid #ccc;
    border-radius: 8px;
  }

  .distributorInfo {
    display: flex;
    gap: 10px;
    height: auto;
  }

  .distributorText {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .distributorStartText {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
  }

  .wrapperShipper {
    padding: 15px 0;

    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .moneyFreeShip {
    margin: 10px 0 10px;
    display: flex;
    font-size: 12px;
    align-items: center;
    position: relative;
  }

  .moneyFreeShip > img,
  .moneyFreeShip > p {
    top: 7px;
    position: absolute;
  }

  .moneyFreeShip > img {
    margin-right: 3px;
  }

  .moneyFreeShip > p {
    position: relative;
    left: 22px;
  }

  .moneyFreeShip > p:first-of-type {
    margin-right: 15px;
  }

  .moneyFreeShip > p > span {
    position: absolute;
    top: -0.3rem;
    right: -10px;
    text-decoration: underline;
  }

  .hideModuleDesktop {
    display: block;
  }
}
