@media screen and (min-width: 1024px) {
  .ModuleDesktop {
    display: block;
    width: 1270px;
  }

  .ModuleDienThoai {
    display: none;
  }

  .containerMoTaSanPhamDesktop {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .wrapperThongTinChiTiet {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px;
  }

  .containerMoTaSanPhamDesktop h4 {
    font-size: 18px;
    color: rgb(56, 56, 61);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .containerMoTaSanPhamDesktop .thongTinChiTietGrid {
    display: grid;
    grid-template-columns: 222px 1fr;
    grid-template-rows: repeat(6, 55px);
    border-radius: 2px;
  }

  .gridItem {
    padding-left: 15px;
    font-size: 14px;
    display: flex;
    color: rgb(79, 79, 79);
    align-items: center;
  }

  .gridItem:nth-child(odd) {
    background-color: #ccc;
    opacity: 0.8;
    font-weight: 500;
  }

  .gridItem:nth-child(even) {
  }

  .gridItemColor {
    background-color: rgb(250, 250, 250);
  }

  /* Mô tả sản phẩm */
  .wrapperMoTaSanPham {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 17px 0;
  }

  .wrapperMoTaSanPham h4 {
    font-size: 18px;
    color: rgb(56, 56, 61);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .wrapperText {
    height: 450px;
    position: relative;
    overflow: hidden;
  }

  .wrapperText p {
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0px;
  }

  .wrapperText button {
    position: absolute;
    z-index: 50;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    outline: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: rgb(24, 158, 255);
    border: 1px solid rgb(24, 158, 255);
    background-color: #fff;
    transition: all .1s ease-in;
    cursor: pointer;
  }

  .wrapperText button:hover {
    color: #fff;
    border:none;
    font-weight: 700;
    background-color: rgb(24, 158, 255);
  }

  .suongMuBaoPhu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
}


@media screen and (max-width: 768px) {
  .ModuleDesktop {
    display: block;
  }

  .ModuleDienThoai {
    display: block;
  }
  
  .containerMoTaSanPhamDesktop {
    margin-top: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .wrapperThongTinChiTiet {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px;
  }

  .containerMoTaSanPhamDesktop h4 {
    font-size: 18px;
    color: rgb(56, 56, 61);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .containerMoTaSanPhamDesktop .thongTinChiTietGrid {
    display: grid;
    grid-template-columns: 222px 1fr;
    grid-template-rows: repeat(6, 55px);
    border-radius: 2px;
  }

  .gridItem {
    padding-left: 15px;
    font-size: 14px;
    display: flex;
    color: rgb(79, 79, 79);
    align-items: center;
  }

  .gridItem:nth-child(odd) {
    background-color: #ccc;
    opacity: 0.8;
    font-weight: 500;
  }

  .gridItem:nth-child(even) {
  }

  .gridItemColor {
    background-color: rgb(250, 250, 250);
  }

  /* Mô tả sản phẩm */
  .wrapperMoTaSanPham {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 17px 0;
  }

  .wrapperMoTaSanPham h4 {
    font-size: 18px;
    color: rgb(56, 56, 61);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .wrapperText {
    height: 450px;
    position: relative;
    overflow: hidden;
  }

  .wrapperText p {
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0px;
  }

  .wrapperText button {
    position: absolute;
    z-index: 50;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    outline: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: rgb(24, 158, 255);
    border: 1px solid rgb(24, 158, 255);
    background-color: #fff;
    transition: all .1s ease-in;
    cursor: pointer;
  }

  .wrapperText button:hover {
    color: #fff;
    border:none;
    font-weight: 700;
    background-color: rgb(24, 158, 255);
  }

  .suongMuBaoPhu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
}
