#header_last {
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #FFE880;
}

.header-last-container {

}

.header-last-container:hover {
    cursor: pointer;
}

.header-last-container img {
    width: 81px;
    height: 12px;
    margin-right: 4px;
}